.page {
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  padding: 20px;
}
.page__background {
  background: black;
}
.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
  }
}
.header__logo {
  flex: 1;
}
.header__img {
  max-width: 350px;
}
.header__search {
  display: flex;
  align-items: center;
  position: relative;
  flex: 2;
  max-width: 400px;
}
@media (min-width: 768px) {
  .header__search {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .header__search {
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__input {
  width: 100%;
  padding: 10px 35px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.header__search-icon--left {
  position: absolute;
  color: #6c757d;
  font-size: 1.2em;
  left: 10px;
  pointer-events: none;
}
.header__search-icon--right {
  position: absolute;
  color: #6c757d;
  font-size: 1.2em;
  right: 10px;
  pointer-events: none;
}
.main {
  display: flex;
}
.sidebar__form {
  display: flex;
  flex-direction: column;
}
.sidebar__fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sidebar__legend {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  padding: 0 10px;
}
.sidebar__type-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}
.sidebar__type-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar__type {
  width: 20px;
  height: 20px;
}
.sidebar__type-label {
  color: white;
  cursor: pointer;
}
.sidebar__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sidebar__checkbox--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sidebar__color-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.sidebar__color-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar__color-label {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}
.sidebar__color-label--blue {
  background-color: blue;
}
.sidebar__color-label--green {
  background-color: green;
}
.sidebar__color-label--yellow {
  background-color: yellow;
}
.sidebar__color-label--pink {
  background-color: pink;
}
.sidebar__color-label--red {
  background-color: red;
}
.sidebar__color-label--white {
  background-color: white;
}
.sidebar__color-label--brown {
  background-color: brown;
}
.sidebar__color-label--purple {
  background-color: purple;
}
.sidebar__color-label--orange {
  background-color: orange;
}
.sidebar__color-label--black {
  background-color: black;
}
.sidebar__checkbox:checked + .sidebar__color-label::after {
  content: '\2713';
  color: #4f585a;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  display: block;
}
.sidebar__radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__radio {
  width: 20px;
  height: 20px;
}
.sidebar__radio-label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
.content {
  flex: 3;
  padding: 0 20px;
}
.content__title {
  color: white;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content__no-results {
  color: white;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 1.5em;
}
.content__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.content__button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.filter-button {
  background: white;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}
