@icon-color: #6c757d;
@icon-size: 1em;
@icon-spacing: 10px;

.page {

    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    padding: 20px;

    &__background {
        background: black;
    }
}

.header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        justify-content: space-between;
    }

    @media (max-width: 767px) {
        flex-direction: column;
    }

    // header__logo
    &__logo {
        flex: 1;
        margin-right: 20px;
    }

    // header__img
    &__img {
        max-width: 350px;
        width: 100%;
    }

    // header__search
    &__search {
        display: flex;
        align-items: center;
        position: relative;
        flex: 2;
        max-width: 400px;

        @media (min-width: 768px) {
            margin-left: auto;
        }

        @media (max-width: 767px) {
            margin-top: 10px;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    // header__input
    &__input {
        width: 100%;
        padding: 10px 35px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    // search icon 
    &__search-icon--left {
        position: absolute;
        color: @icon-color;
        font-size: @icon-size;
        left: @icon-spacing;
        pointer-events: none;
        top: 10px;
    }

    // remove icon
    &__search-icon--right {
        position: absolute;
        color: @icon-color;
        font-size: @icon-size;
        right: @icon-spacing;
        cursor: pointer;
        top: 10px;
    }

    &__dropdown {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        max-height: 240px;
        overflow-y: auto;
        width: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        top: 38px;
    }

    &__dropdown-item {
        padding: 15px 8px;
        cursor: pointer;
        text-transform: capitalize;
    }

    &__dropdown-item:hover {
        background-color: #f0f0f0;
    }
}


.main {
    display: flex;

    &__filter-button {
        background: white;
        padding: 15px;
        height: 15px;
        border-radius: 0 5px 5px 0;
        position: absolute;
        left: 0;
        cursor: pointer;

        @media (min-width: 768px) {
            display: none;
        }

        @media (max-width: 767px) {
            display: block;
        }
    }
}

.sidebar {

    z-index: 100;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out; 
    transform: translateX(-100%); 

    @media (min-width: 768px) {
        position: relative;
        display: block;
        opacity: 1; 
        visibility: visible;
        transform: translateX(0);
    }

    @media (max-width: 767px) {
        position: absolute;
        left: -8px;
        top: 10px;
        opacity: 0; 
        visibility: hidden; 
    }

    &--visible {
        opacity: 1;
        visibility: visible; 
        transform: translateX(0); 

        @media (min-width: 768px) {
            display: block; 
        }

        @media (max-width: 767px) {
            display: block; 
        }
    }

    &__cross {
        color: white;
        top: 18px;
        left: 245px;
        cursor: pointer;

        @media (min-width: 768px) {
            display: none;
        }

        @media (max-width: 767px) {
            position: absolute;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__filters-fieldset {
        background: #1a1a1a;
        border-radius: 8px;
    }

    &__fieldset {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    &__legend {
        font-weight: bold;
        margin-bottom: 10px;
        color: white;
        padding: 0 10px;
    }

    //Type filter
    &__type-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 10px;
    }

    &__type-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__type {
        width: 20px;
        height: 20px;
    }

    &__type-label {
        color: white;
        cursor: pointer;
    }

    //Color filter
    &__checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    &__checkbox--hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    &__color-group {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    &__color-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__color-label {
        width: 30px;
        height: 30px;
        border-radius: 8px;
        border: 1px solid #ccc;
        cursor: pointer;
        position: relative;
    }

    &__color-label--blue {
        background-color: blue;
    }

    &__color-label--green {
        background-color: green;
    }

    &__color-label--yellow {
        background-color: yellow;
    }

    &__color-label--pink {
        background-color: pink;
    }

    &__color-label--red {
        background-color: red;
    }

    &__color-label--white {
        background-color: white;
    }

    &__color-label--brown {
        background-color: brown;
    }

    &__color-label--purple {
        background-color: purple;
    }

    &__color-label--gray {
        background-color: gray;
    }

    &__color-label--black {
        background-color: black;
    }

    &__checkbox:checked+.sidebar__color-label::after {
        content: '\2713';
        color: #acb0b1;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        display: block;
    }

    //Gender filter
    &__radio-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__radio {
        width: 20px;
        height: 20px;
    }

    &__radio-label {
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
    }
}


// Content styles
.content {
    flex: 3;
    padding: 0 20px;

    &__title {
        color: white;
        font-weight: bold;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    &__no-results {
        color: white;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        font-size: 1.5em;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    &__container-button {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    &__button {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border-radius: 8px;
    }
}

//Generic styles
.filter-button {
    background: white;
    color: black;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}